@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  background: #D7F3FF;
}

/* -----------------------------------------------CONTAINER------------------------------- */

.task-container {
  margin: 4rem auto;
  background: #002953;
  max-width:max-content;
  min-height: 75vh;
  color: #fff;
  padding: 2rem 0;
}

.task-container header {
  padding: 2rem;
}

.task-container header h1 {
  border-bottom: 1px solid #fff;
  font-weight: 200;
}

/* ---------------------------------------------INPUT------------------------------------------- */

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 3rem;
  padding: 2rem;
}

.input-container input {
  padding: 10px;
  font-size: 1.2rem;
  height: 100%;
}

.input-container input::placeholder {
  font-size: 1.2rem;
  color: #333;
}

.add-btn {
  height: 100%;
  border: none;
  background: #002953;
  color: white;
  font-size: 1.2rem;
  padding: 11px;
  margin-left: 5px;
  border: 1px white solid;
  cursor: pointer;
}

.add-btn:hover {
  background: #001B42;
}

/* ----------------------------------------TASK-LIST & TASKS----------------------------------- */

.task-list {
  width: 100%;
  list-style: none;
  margin: 1rem 0;
}

.task-div {
  display: flex;
  justify-content: center;
  align-items:baseline;
}

.task {
  background: #043464;
  padding: 0.8rem 2rem;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
}

.remove {
  display: none;
}

/* -----------------------------------COMPLETE / DELETE BUTTONS */

.complete-btn,
.delete-btn {
  background: #043464;
  border: none;
  font-size: 1.2rem;
  padding: 0.94rem 1rem 0.8rem 1rem;
  appearance: none;
  cursor: pointer;
}

.complete-btn {
  color: #0DB387;
}

.delete-btn {
  color: #f64c72;
}

.complete-btn:hover,
.delete-btn:hover {
  background: #001B42;
}

.task-complete {
  text-decoration: line-through;
  font-style:italic;
  color: #888;
}